:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
  
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
  --vp-home-hero-image-filter: blur(150px);

  /* brand按钮 */
  --vp-button-brand-border: #388bc1;
  --vp-button-brand-text: #fff;
  --vp-button-brand-bg: #57c1a7;

  --vp-button-brand-hover-border: #57c1a7;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #388bc1;

  --vp-button-brand-active-border: #57c1a7;
  --vp-button-brand-active-bg: #388bc1;

  /* 字体 */
  --vp-c-brand-1:#43a5a9;

  --vp-c-brand-2:#1f83ab;


  
}



